<h1>Word Play</h1>
<!-- <a href="/words">See Word List</a> </br> -->
<a href="/words/new">Add a New Word</a>




<!-- Displaying inputted tasks -->

  <h3>See list of all words here:</h3>

  <h4><%= @words %></h4>
