<h1>Word Play</h1>
<a href="/words/new">Add a New Word</a>

<h3>See a list of all words here:</h3>

<ul>
  <% @words.each() do |word| %>
    <li><a href="/word_details/<%= word.id() %>"><%= word.word() %></a></li>
  <% end %>
</ul>
