<h1>Add a Definition to the Word</h1>

<form action="/success2" method="post">
  <input id='add_definition_id' name='add_definition_id' type='hidden' value='<%= @word.id() %>'>

  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Save</button>
</form>
