<h1>Add a New Word</h1>

<form action="/" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text">

  <!-- <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text"> -->

  <button type="submit">Save</button>
</form>
